@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}
.container {
    min-height: 100vh;
    background: url("../images/loginbg.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.navigation {
    width: 100%;
    height: 110px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    height: auto;
    color: ghostwhite;
    font-size: 50px;
    font-family: "Caveat";
}

.navigation ul {
    display: flex;
    align-items: center;
}

.navigation ul li {
    list-style: none;
    padding: 0 8px;
}

.navigation ul li a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 6px 13px;
    transition: .4s;
}

.navigation ul li a.active,
.navigation ul li a:hover {
    background: rgb(255, 115, 0);
    border-radius: 10px;
}


.center {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.center h1 {
    font-family: "Poppins";
    color: white;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgb(82, 6, 97);
    color: #fff;
    width: 100%;
    box-sizing: border-box;
}
